<div class="content">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Welcome</mat-card-title>
      <mat-card-subtitle>Test application</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu gravida erat, in molestie sem. Sed malesuada augue vel vulputate pretium. Aenean mattis orci risus, eu ultricies ipsum gravida nec. Donec molestie lorem id pretium convallis. Vestibulum eleifend quis augue in gravida. Proin at arcu non odio tristique aliquam. Donec rutrum quam vitae pharetra sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis rutrum odio, vitae elementum metus. Curabitur non ligula ac orci commodo lacinia vel quis dui. Integer ante velit, facilisis at tempor ac, efficitur non arcu. Cras sed molestie velit, vel feugiat tortor. Cras eget ultricies diam. Maecenas elementum porttitor ex, eu dapibus lacus ullamcorper in. Praesent dictum velit nec magna dapibus, a tincidunt elit condimentum.
        Etiam sit amet aliquet lectus. Cras id ex non mi auctor ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac est quis lectus iaculis pellentesque. Cras luctus et magna sit amet lobortis. Sed eu accumsan nibh. Donec venenatis luctus enim. Nunc molestie nisl ut malesuada semper. Mauris pharetra mollis tortor a tincidunt.

        Etiam pellentesque ante at odio tincidunt, ac aliquam urna elementum. Proin pharetra sollicitudin nibh, sit amet iaculis ex ullamcorper et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempus malesuada turpis, ut lobortis magna dictum eu. Morbi ex ipsum, pharetra non justo eget, congue maximus libero. Etiam pellentesque, tellus quis volutpat condimentum, leo mauris molestie urna, scelerisque sollicitudin velit diam at dui. Ut hendrerit sem tortor, eget dignissim ante porta quis. Praesent nec tristique neque. Nunc blandit, velit ut venenatis finibus, mi augue malesuada justo, vel cursus eros lorem nec sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam ultricies mauris metus. Mauris in lorem egestas, vehicula risus ac, convallis nisl. Donec et tincidunt turpis, vitae pulvinar nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="users">Go to requests</button>
        </mat-card-actions>
  </mat-card>
</div>
